In [85]:
import pandas as pd
import re

text = {'text': ['This is order number № 1000 placed on 28.10.2019 for product X',
                 'Order number № 1001 was placed on 01.11.2019 for product Y',
                 'The order number № 1002 was placed on 15.11.2019 and the product was Z',
                 'Order № 1003 was placed on 20.12.2019 for product A',
                 'The product B was ordered on 02.01.2020 with order № 1004',
                 'Order number № 1005 was placed on 14.01.2020 for product C',
                 'The order number № 1006 was placed on 29.02.2020 for product D',
                 'The order number № 1007 was placed on 10.03.2020 and the product was E',
                 'Order № 1008 was placed on 20.04.2020 for product F',
                 'Order number № 1009 was placed on 01.05.2020 for product G',
                 'The product H was ordered on 25.05.2020 with order number № 1010',
                 'Order № 1011 was placed on 15.06.2020 for product I',
                 'Order number № 1012 was placed on 30.06.2020 for product J',
                 'The order number № 1013 was placed on 15.07.2020 and the product was K',
                 'Order number № 1014 was placed on 01.08.2020 for product L',
                 'The product M was ordered on 20.08.2020 with order № 1015',
                 'Order № 1016 was placed on 10.09.2020 for product N',
                 'Order number № 1017 was placed on 01.10.2020 for product O',
                 'The order № 1018 was placed on 15.10.2020 and the product was P',
                 'Order № 1019 was placed on 01.11.2020 for product Q',
                 'The product R was ordered on 20.11.2020 with order number № 1020',
                 'Order number № 1021 was placed on 10.12.2020 for product S',
                 'The order number № 1022 was placed on 01.01.2021 for product T',
                 'Order № 1023 was placed on 15.01.2021 for product U',
                 'Order number № 1024 was placed on 01.02.2021 for product V',
                 'The product W was ordered on 20.02.2021 with order № 1025',
                 'Order number № 1026 was placed on 10.03.2021 for product X',
                 'The order № 1027 was placed on 01.04.2021 for product Y',
                 'Order № 1028 was placed on 15.04.2021 for product Z',
                 'Order number № 1029 was placed on 01.05.2021 for product A',
                 'The product B was ordered on 20.05.2021 with order number № 1030',
                 'Order number № 1031 was placed on 10.06.2020']}

In [86]:
df = pd.DataFrame(text)
df.head()

                                                text
0  This is order number № 1000 placed on 28.10.20...
1  Order number № 1001 was placed on 01.11.2019 f...
2  The order number № 1002 was placed on 15.11.20...
3  Order № 1003 was placed on 20.12.2019 for prod...
4  The product B was ordered on 02.01.2020 with o...

In [87]:
order_num_pattern = r'№\s*(\d+)'
date_pattern = r'(\d{2}\.\d{2}\.\d{4})'
df['order_number'] = df['text'].str.extract(order_num_pattern)
df['date'] = df['text'].str.extract(date_pattern)
df

                                                 text order_number        date
0   This is order number № 1000 placed on 28.10.20...         1000  28.10.2019
1   Order number № 1001 was placed on 01.11.2019 f...         1001  01.11.2019
2   The order number № 1002 was placed on 15.11.20...         1002  15.11.2019
3   Order № 1003 was placed on 20.12.2019 for prod...         1003  20.12.2019
4   The product B was ordered on 02.01.2020 with o...         1004  02.01.2020
5   Order number № 1005 was placed on 14.01.2020 f...         1005  14.01.2020
6   The order number № 1006 was placed on 29.02.20...         1006  29.02.2020
7   The order number № 1007 was placed on 10.03.20...         1007  10.03.2020
8   Order № 1008 was placed on 20.04.2020 for prod...         1008  20.04.2020
9   Order number № 1009 was placed on 01.05.2020 f...         1009  01.05.2020
10  The product H was ordered on 25.05.2020 with o...         1010  25.05.2020
11  Order № 1011 was placed on 15.06.2020 for prod...         1011  15.06.2020
12  Order number № 1012 was placed on 30.06.2020 f...         1012  30.06.2020
13  The order number № 1013 was placed on 15.07.20...         1013  15.07.2020
14  Order number № 1014 was placed on 01.08.2020 f...         1014  01.08.2020
15  The product M was ordered on 20.08.2020 with o...         1015  20.08.2020
16  Order № 1016 was placed on 10.09.2020 for prod...         1016  10.09.2020
17  Order number № 1017 was placed on 01.10.2020 f...         1017  01.10.2020
18  The order № 1018 was placed on 15.10.2020 and ...         1018  15.10.2020
19  Order № 1019 was placed on 01.11.2020 for prod...         1019  01.11.2020
20  The product R was ordered on 20.11.2020 with o...         1020  20.11.2020
21  Order number № 1021 was placed on 10.12.2020 f...         1021  10.12.2020
22  The order number № 1022 was placed on 01.01.20...         1022  01.01.2021
23  Order № 1023 was placed on 15.01.2021 for prod...         1023  15.01.2021
24  Order number № 1024 was placed on 01.02.2021 f...         1024  01.02.2021
25  The product W was ordered on 20.02.2021 with o...         1025  20.02.2021
26  Order number № 1026 was placed on 10.03.2021 f...         1026  10.03.2021
27  The order № 1027 was placed on 01.04.2021 for ...         1027  01.04.2021
28  Order № 1028 was placed on 15.04.2021 for prod...         1028  15.04.2021
29  Order number № 1029 was placed on 01.05.2021 f...         1029  01.05.2021
30  The product B was ordered on 20.05.2021 with o...         1030  20.05.2021
31       Order number № 1031 was placed on 10.06.2020         1031  10.06.2020

In [88]:
df.isnull().sum()

text            0
order_number    0
date            0
dtype: int64

In [89]:
dataset = [(row['text'], (row['order_number'], row['date'])) for index, row in df.iterrows()]
dataset

[('This is order number № 1000 placed on 28.10.2019 for product X',
  ('1000', '28.10.2019')),
 ('Order number № 1001 was placed on 01.11.2019 for product Y',
  ('1001', '01.11.2019')),
 ('The order number № 1002 was placed on 15.11.2019 and the product was Z',
  ('1002', '15.11.2019')),
 ('Order № 1003 was placed on 20.12.2019 for product A',
  ('1003', '20.12.2019')),
 ('The product B was ordered on 02.01.2020 with order № 1004',
  ('1004', '02.01.2020')),
 ('Order number № 1005 was placed on 14.01.2020 for product C',
  ('1005', '14.01.2020')),
 ('The order number № 1006 was placed on 29.02.2020 for product D',
  ('1006', '29.02.2020')),
 ('The order number № 1007 was placed on 10.03.2020 and the product was E',
  ('1007', '10.03.2020')),
 ('Order № 1008 was placed on 20.04.2020 for product F',
  ('1008', '20.04.2020')),
 ('Order number № 1009 was placed on 01.05.2020 for product G',
  ('1009', '01.05.2020')),
 ('The product H was ordered on 25.05.2020 with order number № 1010',
  ('1010', '25.05.2020')),
 ('Order № 1011 was placed on 15.06.2020 for product I',
  ('1011', '15.06.2020')),
 ('Order number № 1012 was placed on 30.06.2020 for product J',
  ('1012', '30.06.2020')),
 ('The order number № 1013 was placed on 15.07.2020 and the product was K',
  ('1013', '15.07.2020')),
 ('Order number № 1014 was placed on 01.08.2020 for product L',
  ('1014', '01.08.2020')),
 ('The product M was ordered on 20.08.2020 with order № 1015',
  ('1015', '20.08.2020')),
 ('Order № 1016 was placed on 10.09.2020 for product N',
  ('1016', '10.09.2020')),
 ('Order number № 1017 was placed on 01.10.2020 for product O',
  ('1017', '01.10.2020')),
 ('The order № 1018 was placed on 15.10.2020 and the product was P',
  ('1018', '15.10.2020')),
 ('Order № 1019 was placed on 01.11.2020 for product Q',
  ('1019', '01.11.2020')),
 ('The product R was ordered on 20.11.2020 with order number № 1020',
  ('1020', '20.11.2020')),
 ('Order number № 1021 was placed on 10.12.2020 for product S',
  ('1021', '10.12.2020')),
 ('The order number № 1022 was placed on 01.01.2021 for product T',
  ('1022', '01.01.2021')),
 ('Order № 1023 was placed on 15.01.2021 for product U',
  ('1023', '15.01.2021')),
 ('Order number № 1024 was placed on 01.02.2021 for product V',
  ('1024', '01.02.2021')),
 ('The product W was ordered on 20.02.2021 with order № 1025',
  ('1025', '20.02.2021')),
 ('Order number № 1026 was placed on 10.03.2021 for product X',
  ('1026', '10.03.2021')),
 ('The order № 1027 was placed on 01.04.2021 for product Y',
  ('1027', '01.04.2021')),
 ('Order № 1028 was placed on 15.04.2021 for product Z',
  ('1028', '15.04.2021')),
 ('Order number № 1029 was placed on 01.05.2021 for product A',
  ('1029', '01.05.2021')),
 ('The product B was ordered on 20.05.2021 with order number № 1030',
  ('1030', '20.05.2021')),
 ('Order number № 1031 was placed on 10.06.2020', ('1031', '10.06.2020'))]

In [90]:
TRAIN_DATA = []
for text, entity_text in dataset:
    entities = []
    start = 0
    for token in entity_text:
        start = text.find(token, start)
        end = start + len(token)
        entities.append((start, end, "ENTITY"))
        start = end
    TRAIN_DATA.append({"text": text, "entities": entities})

In [91]:
len(TRAIN_DATA)

32

In [92]:
TRAIN_DATA

[{'text': 'This is order number № 1000 placed on 28.10.2019 for product X',
  'entities': [(23, 27, 'ENTITY'), (38, 48, 'ENTITY')]},
 {'text': 'Order number № 1001 was placed on 01.11.2019 for product Y',
  'entities': [(15, 19, 'ENTITY'), (34, 44, 'ENTITY')]},
 {'text': 'The order number № 1002 was placed on 15.11.2019 and the product was Z',
  'entities': [(19, 23, 'ENTITY'), (38, 48, 'ENTITY')]},
 {'text': 'Order № 1003 was placed on 20.12.2019 for product A',
  'entities': [(8, 12, 'ENTITY'), (27, 37, 'ENTITY')]},
 {'text': 'The product B was ordered on 02.01.2020 with order № 1004',
  'entities': [(53, 57, 'ENTITY'), (-1, 9, 'ENTITY')]},
 {'text': 'Order number № 1005 was placed on 14.01.2020 for product C',
  'entities': [(15, 19, 'ENTITY'), (34, 44, 'ENTITY')]},
 {'text': 'The order number № 1006 was placed on 29.02.2020 for product D',
  'entities': [(19, 23, 'ENTITY'), (38, 48, 'ENTITY')]},
 {'text': 'The order number № 1007 was placed on 10.03.2020 and the product was E',
  'entities': [(19, 23, 'ENTITY'), (38, 48, 'ENTITY')]},
 {'text': 'Order № 1008 was placed on 20.04.2020 for product F',
  'entities': [(8, 12, 'ENTITY'), (27, 37, 'ENTITY')]},
 {'text': 'Order number № 1009 was placed on 01.05.2020 for product G',
  'entities': [(15, 19, 'ENTITY'), (34, 44, 'ENTITY')]},
 {'text': 'The product H was ordered on 25.05.2020 with order number № 1010',
  'entities': [(60, 64, 'ENTITY'), (-1, 9, 'ENTITY')]},
 {'text': 'Order № 1011 was placed on 15.06.2020 for product I',
  'entities': [(8, 12, 'ENTITY'), (27, 37, 'ENTITY')]},
 {'text': 'Order number № 1012 was placed on 30.06.2020 for product J',
  'entities': [(15, 19, 'ENTITY'), (34, 44, 'ENTITY')]},
 {'text': 'The order number № 1013 was placed on 15.07.2020 and the product was K',
  'entities': [(19, 23, 'ENTITY'), (38, 48, 'ENTITY')]},
 {'text': 'Order number № 1014 was placed on 01.08.2020 for product L',
  'entities': [(15, 19, 'ENTITY'), (34, 44, 'ENTITY')]},
 {'text': 'The product M was ordered on 20.08.2020 with order № 1015',
  'entities': [(53, 57, 'ENTITY'), (-1, 9, 'ENTITY')]},
 {'text': 'Order № 1016 was placed on 10.09.2020 for product N',
  'entities': [(8, 12, 'ENTITY'), (27, 37, 'ENTITY')]},
 {'text': 'Order number № 1017 was placed on 01.10.2020 for product O',
  'entities': [(15, 19, 'ENTITY'), (34, 44, 'ENTITY')]},
 {'text': 'The order № 1018 was placed on 15.10.2020 and the product was P',
  'entities': [(12, 16, 'ENTITY'), (31, 41, 'ENTITY')]},
 {'text': 'Order № 1019 was placed on 01.11.2020 for product Q',
  'entities': [(8, 12, 'ENTITY'), (27, 37, 'ENTITY')]},
 {'text': 'The product R was ordered on 20.11.2020 with order number № 1020',
  'entities': [(60, 64, 'ENTITY'), (-1, 9, 'ENTITY')]},
 {'text': 'Order number № 1021 was placed on 10.12.2020 for product S',
  'entities': [(15, 19, 'ENTITY'), (34, 44, 'ENTITY')]},
 {'text': 'The order number № 1022 was placed on 01.01.2021 for product T',
  'entities': [(19, 23, 'ENTITY'), (38, 48, 'ENTITY')]},
 {'text': 'Order № 1023 was placed on 15.01.2021 for product U',
  'entities': [(8, 12, 'ENTITY'), (27, 37, 'ENTITY')]},
 {'text': 'Order number № 1024 was placed on 01.02.2021 for product V',
  'entities': [(15, 19, 'ENTITY'), (34, 44, 'ENTITY')]},
 {'text': 'The product W was ordered on 20.02.2021 with order № 1025',
  'entities': [(53, 57, 'ENTITY'), (-1, 9, 'ENTITY')]},
 {'text': 'Order number № 1026 was placed on 10.03.2021 for product X',
  'entities': [(15, 19, 'ENTITY'), (34, 44, 'ENTITY')]},
 {'text': 'The order № 1027 was placed on 01.04.2021 for product Y',
  'entities': [(12, 16, 'ENTITY'), (31, 41, 'ENTITY')]},
 {'text': 'Order № 1028 was placed on 15.04.2021 for product Z',
  'entities': [(8, 12, 'ENTITY'), (27, 37, 'ENTITY')]},
 {'text': 'Order number № 1029 was placed on 01.05.2021 for product A',
  'entities': [(15, 19, 'ENTITY'), (34, 44, 'ENTITY')]},
 {'text': 'The product B was ordered on 20.05.2021 with order number № 1030',
  'entities': [(60, 64, 'ENTITY'), (-1, 9, 'ENTITY')]},
 {'text': 'Order number № 1031 was placed on 10.06.2020',
  'entities': [(15, 19, 'ENTITY'), (34, 44, 'ENTITY')]}]

In [93]:
import spacy
nlp = spacy.load("en_core_web_sm")
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [94]:
import spacy
from spacy.training.example import Example
import random

# create a blank English model and add the named entity recognizer
nlp = spacy.blank('en')
ner = nlp.add_pipe('ner')

# add the labels
for annotation in TRAIN_DATA:
    for entity in annotation['entities']:
        ner.add_label(entity[2])

# train the model
nlp.begin_training()
for epoch in range(10):
    random.shuffle(TRAIN_DATA)
    for example in TRAIN_DATA:
        # create a spaCy example
        doc = nlp.make_doc(example['text'])
        entities = example['entities']
        example = Example.from_dict(doc, {'entities': entities})

        # update the model with the example
        nlp.update([example], drop=0.5)

/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "The product B was ordered on 02.01.2020 with order..." with entities "[(53, 57, 'ENTITY'), (-1, 9, 'ENTITY')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "The product H was ordered on 25.05.2020 with order..." with entities "[(60, 64, 'ENTITY'), (-1, 9, 'ENTITY')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "The product W was ordered on 20.02.2021 with order..." with entities "[(53, 57, 'ENTITY'), (-1, 9, 'ENTITY')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "The product R was ordered on 20.11.2020 with order..." with entities "[(60, 64, 'ENTITY'), (-1, 9, 'ENTITY')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "The product M was ordered on 20.08.2020 with order..." with entities "[(53, 57, 'ENTITY'), (-1, 9, 'ENTITY')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/spacy/training/iob_utils.py:149: UserWarning: [W030] Some entities could not be aligned in the text "The product B was ordered on 20.05.2021 with order..." with entities "[(60, 64, 'ENTITY'), (-1, 9, 'ENTITY')]". Use `spacy.training.offsets_to_biluo_tags(nlp.make_doc(text), entities)` to check the alignment. Misaligned entities ('-') will be ignored during training.
  warnings.warn(

In [106]:
# test the model
doc = nlp(' на основание дог комисси № 7245 от 15.01.2021 года оплата  за алюмин профиль,')

In [108]:
for ent in doc.ents:
    print(ent.text)

7245
15.01.2021